.character-card {
  background-color: var(--primary-color);
  color: #FFF;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 16%;
  padding: 1rem;
  transition: box-shadow .2s;
}

.character-card:hover {
  box-shadow: 1px 0 6px #444;
}
  
.character-card__title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
  
.character-card__title > a {
    color: white;
}
  
.character-card__item {
    font-size: 1.6rem;
    padding: .3rem;
}

.character-card__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .3rem 0;
}

.character-card__img > img {
    border-radius: 2rem;
    width: auto;
    max-height: 30rem;
    background-size: cover;
}

.character-card__status {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.status-icon {
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--inactive-color);
}

.alive {
    background-color: var(--active-color) !important;
}

.dead {
    background-color: var(--inactive-color) !important;
}

.link {
    cursor: pointer;
    text-decoration: none;
}
  
.link:hover {
    color: var(--highlight-color);
}